body {
  background-color: #;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  background-image: url("abhinav/img/Untitled.png");
  background-repeat: no-repeat;
  padding: 100px;
  text-align: center;
}

h1 {
  color: navy;
  margin-top: 20px;
  background-image: #;
  background-color: #;
}

#myDIV {
  text-align: left;
  background-image: url("#");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100px
}
#LABOURS{
  background-image: url("abhinav/img/helper.jpg");
  background-size: 100%;
    background-repeat: no-repeat;
  padding: 250px;
}
#CLEANING{
  background-image: url("abhinav/img/housekeeper.jpg");
  background-size: 100%;
    background-repeat: no-repeat;
  padding: 250px;
}
#security{
  background-image: url("abhinav/img/security.jpg");
  background-size: cover;
    background-repeat: no-repeat;
  padding: 250px;
}
